{% extends 'base.html.twig' %}


{% block body %}

{% if defis is not empty %}
    {% set i = 0 %}
    {% for defi in defis %}
            <div style="width: 90%; display: flex; flex-direction: column; border-radius: 4px; margin-left: 5%; border: 1px solid #d5d5d5 ; margin-top: 25px ; background-color: #fff">
            <img src="{{ asset('bundles/platform/img/Defis' ~ i ~ '.png') }}" style="width: 100%; height: 200px; object-fit: cover; border-top-left-radius: 4px; border-top-right-radius: 4px"></img>
            <div style="display: flex; justify-content: center">
              <div style="border-radius: 50%; border: 3px solid #fff; width: 120px; height: 120px; margin-top: -60px; background-color: #797979; line-height: 120px; text-align: center; font-size: 30px; color: white">{{ defi.points }}</div>
            </div>
            <div>
              <div style="width: 100%; text-align: center; font-weight: bold; font-size: 30px">{{ defi.name }}</div>
              <div style="text-align: center">{{ defi.description }}</div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 30px">
              <div style="width: 200px; height: 50px; border-right: 1px solid black; text-align: right; padding-right: 15px">
                <span class="fa fa-map-marker fa-2x"></span>
                <p>{{ defi.place }}</p>
              </div>
              <div style="width: 200px; height: 50px; padding-left: 15px">
                <span class="fa fa-clock-o fa-2x"></span>
                <p>{{ defi.startDate|date("d/m/Y h:m") }}</p>
              </div>
            </div>
        </div>

        {% set i = i + 1 %}
        {% if i == 2 %}
            {% set i = 0 %}
        {% endif %}
    {% endfor %}

{% else %}

    <div style="text-align: center">
        <h2> No challenges or questions at the moment.</h2>
    </div>

{% endif %}

{% endblock %}
